:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;

  --accent-bg-color: #e5e5e5;
  --dark-bg-color: #2f303a;
  --white-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;

  --title-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;

  --social-icons: #afb1b8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--title-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.item {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.colortext {
  color: var(--accent-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-text-color);
}

/*HIDDEN TITLES*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* SITE NAV */
.logo-header {
  display: inline-block;
  margin-right: 93px;
  color: var(--title-text-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header .container {
  display: flex;
  align-items: center;
  background-color: var(--white-bg-color);
  border-bottom: 1px solid #ececec;
}

.main-item:not(:last-child) {
  margin-right: 50px;
}

.main-nav {
  align-items: center;
}

.site-nav {
  display: inline-flex;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

/* AUTH NAV */
.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .link {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

.address {
  font-style: inherit;
  color: var(--white-text-color);
}
.address-link {
  color: var(--white-text-color);
}
.connect {
  color: rgba(255, 255, 255, 0.6);
}

.hiden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  margin-bottom: 50px;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

/* CONNECT ICON */
.connect-icon {
  stroke: currentColor;
  margin-right: 10px;
}

.connect-link {
  display: flex;
  align-items: center;
}

/* HERO */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--dark-bg-color);
}
.dark-background {
  background-color: var(--dark-bg-color);
}

.page-title {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: var(--dark-bg-color);
}

.button-order {
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  color: var(--white-text-color);
  background-color: var(--accent-text-color);

  font-family: var(--title-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  text-align: center;
  cursor: pointer;
}

.button-nav:hover,
.button-nav:focus {
  background-color: var(--accent-text-color);
}

/* FEATURE */
.feature-list .item {
  width: 270px;
}
.feature-list {
  display: flex;
}

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-title {
  margin-bottom: 10px;
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.paragraf-text {
  font-family: var(--title-font);
}

/* WE DO */
.we-do .item {
  width: 370px;
}

.we-do__list {
  display: flex;
}

.we-do .item:not(:last-child) {
  margin-right: 30px;
}

.we-do {
  padding-bottom: 94px;
}

/* TEAM */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--second-bg-color);
}
.team__list {
  display: flex;
}
.team .item {
  background-color: var(--white-bg-color);
  border-radius: 4px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__box {
  padding: 30px 32px;
}

.team .item:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  margin-bottom: 10px;
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.profession-text {
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 1.18;
}
/* SOCIAL  ICONS */
.social-icons {
  display: inline-flex;
}

.social-icons-svg {
  width: 20px;
  height: 20px;
  fill: var(--social-icons);
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-bg-color);
  margin-top: 16px;
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--white-text-color);
}

.social-icons-link:hover {
  background-color: var(--accent-text-color);
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

/* GALLERY */
.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-nav {
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
}

.gallery-nav .item {
  width: auto;
}

.gallery-nav .item:not(:last-child) {
  margin-right: 8px;
}

.gallery-progect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  margin-left: -30px;
}

.gallery-progect__link {
  display: flex;
  flex-direction: column;
}

.gallery-progect .item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.gallery-progect .item {
  margin-top: 30px;
  margin-left: 30px;
}

.gallery-about {
  padding: 20px 24px;
  flex-grow: 1;
}

.gallery-title {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.gallery-text {
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 1.87;
}

.button-nav {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--second-bg-color);
  border: 0;
  border-radius: 4px;
}
.gallery-about {
  border: 1px solid #eeeeee;
  border-top: none;
}

.gallery-progect__link:hover,
.gallery-progect__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* FOOTER */

.footer-connecting {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  font-style: normal;
  text-transform: uppercase;
}

/* FOOTER ICON */
.footer-icons {
  display: inline-flex;
}

.footer-icons-svg {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}

.footer-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-icons);
  margin-top: 16px;
}

.footer-icons-link:hover .social-icons-svg,
.footer-icons-link:focus .social-icons-svg {
  fill: var(--white-text-color);
}

.footer-icons-link:hover {
  background-color: var(--accent-text-color);
}

.footer-icons-item:not(:last-child) {
  margin-right: 10px;
}

/* Logo Website footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
